$bg-white-theme: #f8f5f2;
$links-white-theme: #078080;
$text-white-theme: #222525;
$design-white-theme: #f45d48;

$bg-black-theme: #222525;
$links-black-theme: #7f5af0;
$text-black-theme: #fffffe;
$design-black-theme: #2cb67d;

$black: #000000;
$white: #fffffe;

$font-family: 'Roboto', sans-serif;
