@import './_vars.scss';

.footer-div {
    background-color: $bg-white-theme;
    bottom: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 50px;
    color: $text-white-theme;
    justify-content: center;
    display: flex;
    font-family: $font-family;
}
